
.revers {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
}

.blog {

  &__desc {
    background-color: var(--background-color-blog);
    color: var(--text-color-secondary);
    padding: 112px 44px 113px 30px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 5px;
  }

  &__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-transform: capitalize;
    margin-bottom: 26px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 28px;
  }

  &__button {
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
    padding: 11px 31px 10px 42px;
    border: 1px solid var(--background-color-primary);
    border-radius: 5px;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
      border-color 250ms ease-in-out;

    &:hover, &:focus {
      background-color: var(--background-color-primary);
      color: var(--background-color-blog);
      border-color: var(--background-color-blog);
    }
  }
}