.revers {
  padding: 0;

  @include respondTo('quinta') {
    display: flex;
    flex-direction: row-reverse;
  }
}

.blog {

  &__desc {
    padding: 30px;
    background-color: var(--background-color-blog);
    color: var(--text-color-secondary);

    @include respondTo('quinta') {
      padding: 29px 39px 30px 30px;
      width: 50%;
    }

    @include respondTo('octava') {
      padding: 112px 44px 113px 30px;
    }
  }

  &__tagline {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.664;

    @include respondTo('quinta') {
      font-size: 20px;
      line-height: 1.5;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-transform: capitalize;
    margin-bottom: 25px;

    @include respondTo('quinta') {
      margin-bottom: 26px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 14px;

    @include respondTo('quinta') {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    
    @include respondTo('quinta') {
        margin-bottom: 17px;
    }
  }

  &__button {
    @include buttonPrimary ($width: 184px, $padding-top: 11px, $padding-bottom: 10px, $f-sz: 16px, $lh: 1.6, $color-secondary: var(--text-color-secondary), $bgc: var(--background-color-blog));
    border: 1px solid var(--background-color-primary);

    &:hover, &:focus {
      background-color: var(--background-color-primary);
      color: var(--background-color-blog);
      border-color: var(--background-color-blog);
    }

    @include respondTo('quinta') {
      width: 196px;
      font-size: 18px;
      line-height: 1.564;
    }
  }
}