.business-cases {
    padding-top: 50px;
    padding-bottom: 48px;
    text-align: center;
  }
  
  .business-cases__tagline {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 15px;
  }
  
  .business-cases__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-transform: capitalize;
    margin-bottom: 34px;
  }
  
  .business-cases__text {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 39px;
  }
  
  .business-cases__list {
    @include list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px 8px;
  }
  
  .business-cases__item {
    width: 320px;
    height: 214px;
  }