// .myImage {
//   background-color: var(--color-brand);
// }

.business-cases {
    padding-top: 50px;
    padding-bottom: 46px;
    text-align: center;

    @include respondTo('quinta') {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    @include respondTo('octava') {
      padding-top: 50px;
    }
  }
  
  .business-cases__tagline {
    font-size: 18px;
    line-height: 1.664;
    margin-bottom: 15px;

    @include respondTo('quinta') {
      font-size: 20px;
      line-height: 1.647;
    }
  }
  
  .business-cases__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.263;
    text-transform: capitalize;
    margin-bottom: 35px;

    @include respondTo('octava') {
      margin-bottom: 34px;
    }
  }
  
  .business-cases__text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 37px;

    @include respondTo('quinta') {
      font-size: 18px;
      line-height: 1.564;
      margin-bottom: 38px;
    }

    @include respondTo('octava') {
      margin-bottom: 38px;
    }
  }
  
  .business-cases__list {
    @include list;

    @include respondTo('quinta') {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 7px 8px;
    }
    
  }
  
  .business-cases__item {

    @include respondTo('quarta extensum') {
      & + & {
        margin-top: 7px;
      }
    }

  }