.callback__box {
  @include styleColouredSection(
    $padding-t: 26px,
    $padding-r: 30px,
    $padding-b: 30px,
    $padding-l: 30px,
    $bgc: mix(black, colors('secondary'), 4.5%),
    $padding-tQuinta: 26px, 
    $padding-rQuinta: 30px,
    $padding-bQuinta: 30px,
    $padding-lQuinta: 30px,
    $padding-tOctava: 78px,
    $padding-rOctava: 30px,
    $padding-bOctava: 82px,
    $padding-lOctava: 30px
  );
}

.callback__title {
  margin-bottom: 34px;
}

.callback__field {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.callback__input {
  margin: 0;
  font-size: 16px;
  line-height: 1.44;
  @include inputText(
    $padding-t: 9px,
    $padding-r: 5px,
    $padding-b: 7px,
    $padding-l: 5px,
    $color: mix(black, colors('secondary'), 50% )
  );

  @include respondTo('quinta') {
    font-size: 18px;
    line-height: 1.28;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @include respondTo('octava') {
    padding-top: 6px;
    padding-bottom: 5px;
    line-height: 1.56;
  }
}

.callback__button {
  @include buttonPrimary(
    $width: 260px,
    $padding-top: 10px,
    $padding-bottom: 10px,
    $f-sz: 16px,
    $lh: 1.36,
    $color-secondary: colors('secondary'),
    $bgc: colors('brand'),
    $bgc-hoFus: colors('background'),
    $color-hoFus: colors('brand'),
    $outline-hoFus: 1px solid colors('brand')
  );
  margin-top: 53px;

  @include respondTo('quinta') {
    width: 324px;
    padding-top: 8px;
    padding-bottom: 9px;
    font-size: 18px;
  }

  @include respondTo('octava') {
    width: 620px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 60px;
  }
}
