.footer {
    background-color: var(--background-color-footer);
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    column-gap: 25px;
}

.footer-text {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: var(--text-color-secondary);
}