.header {
  position: fixed;
  min-height: 70px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  align-items: center;
}

.active {
  background-color: var(--background-color-header);
}

.header.header-scroll {
  background-color: var(--background-color-header);
}

.header__nav {
  @include respondTo('quinta') {
    @include centeredFlex(
      $justify-content: space-around,
      $align-items: flex-start
    );
  }

  @include respondTo('octava') {
    @include centeredFlex(
      $justify-content: space-between,
      $align-items: flex-start
    );
  }
}

/* Logo styles */

.logo {
  @include centeredFlex($align-items: flex-end);
  font-size: 32px;
  line-height: 1.32;
  color: var(--text-color-secondary);

  @include respondTo('quinta') {
    font-size: 35px;
    line-height: 1.21;
  }

  &_brand {
    color: var(--color-brand);

    @include respondTo('quinta') {
      margin-right: 10px;
    }
  }
}

.logo__icon {
  fill: var(--color-brand);
  margin-right: 6px;

  @include respondTo('quinta') {
    margin-right: 10px;
  }
}

/* Navigation styles */

.navigation-list {
  @include list;
  display: flex;
  column-gap: 12px;

  @include respondTo('octava') {
    column-gap: 38px;
  }
}

.navigation-list__link {
  position: relative;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color-secondary);
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--color-brand);
  }

  &::after {
    @include pseudo(100%);
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-brand);

    transform: scaleX(0);
    @include transition(background-color, transform);
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }

  @include respondTo('quinta') {
    font-size: 18px;
    line-height: 1.56;
  }
}
