.header {
  position: fixed;
  min-height: 70px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
  
.active {
  background-color: var(--background-color-header);
}
  
.header__nav {
  @include centeredFlex($justify-content: space-between)
}
  
/* Logo styles */
  
.logo {
  @include centeredFlex;
  font-size: 35px;
  line-height: 1.21;
  color: var(--text-color-secondary);

  &_brand {
    color: var(--color-brand);
  }
}

.logo__icon {
  fill: var(--color-brand);
  margin-right: 10px;
}
  
/* Navigation styles */
  
.navigation-list {
  @include list;
  display: flex;
  column-gap: 37px;
 }
  
.navigation-list__link {
  position: relative;
  padding: 21px 0;
  
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-color-secondary);
  
  transition: color 250ms ease-in-out;

  &:hover, &:focus {
     color: var(--color-brand);
  }

  &::after {
    @include pseudo(100%);
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-brand);
  
    transform: scaleX(0);
    @include transition(background-color, transform);
  }

  &:hover::after,
   &:focus::after {
    transform: scaleX(1);
  }
}