.hero {
  padding-top: 279px;
  padding-bottom: 284px;
  text-align: center;
}
  
  .hero__title {
    margin-bottom: 25px;
  
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
    color: var(--color-text-hero);
    text-transform: capitalize;
  }
  
  .hero__tagline {
    margin-bottom: 29px;
  
    font-size: 22px;
    line-height: 1.68;
    color: var(--color-text-hero);
  }
  
  .hero__button {
    @include centeredFlex;
    @include buttonPrimary(165px, 10px, 9px, var(--color-brand), var(--text-color-secondary), var(--color-brand));
    margin: 0 auto;

      &:hover, &:focus {
        border-color: var(--background-color-primary);
        background-color: var(--color-text-hero);
        color: var(--color-brand);
      }
  }
  
  .button__icon {
    margin-right: 6px;
    fill: currentColor;
  }