.hero {
  text-align: center;
  padding-top: 144px;
  padding-bottom: 95px;

  @include respondTo('quinta') {
    padding-top: 407px;
    padding-bottom: 412px;
  }

  @include respondTo('octava') {
    padding-top: 279px;
    padding-bottom: 284px;
  }
}
  
  .hero__title {
    font-weight: 300;
    font-size: 52px;
    line-height: 1.269;
    margin-bottom: 16px;
    color: var(--color-text-hero);
    text-transform: capitalize;

    @include respondTo('quinta') {
      font-size: 55px;
      line-height: 1.2;
      margin-bottom: 25px;
    }
  }
  
  .hero__tagline {
    margin-bottom: 27px;
  
    font-size: 22px;
    line-height: 1.672;
    color: var(--color-text-hero);

    @include respondTo('octava') {
      margin-bottom: 29px;
    }
  }
  
  .hero__button {
    @include centeredFlex;
    @include buttonPrimary($width: 156px, $padding-top: 10px, $padding-bottom: 9px, $f-sz: 16px, $lh: 1.6, $color-secondary: var(--text-color-secondary), $bgc: var(--color-brand), $bgc-hoFus: var(--color-text-hero), $color-hoFus: var(--color-brand), $outline-hoFus: none);
    @extend %marginCenter;

    @include respondTo('quinta') {
      width: 165px;
      font-size: 18px;
      line-height: 1.564;
    }
  }