.navigation-list {
    @extend %list;
    @include flexList(12px);
  
    @include respondTo('octava') {
      column-gap: 38px;
    }
  }
  
  .navigation-list__link {
    @extend %link;
    position: relative;
    padding: 10px 0;
    color: var(--text-color-secondary);
    @include transition(color);
  
    &:hover,
    &:focus {
      color: var(--color-brand);
    }
  
    &::after {
      @include pseudo(100%);
      height: 4px;
      border-radius: 2px;
      background-color: var(--color-brand);
  
      transform: scaleX(0);
      @include transition(background-color, transform);
    }
  
    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }
  }