.services {
  @include paddingSection(
    $padding-t: 30px,
    $padding-b: 31px,
    $padding-tQuinta: 40px,
    $padding-bQuinta: 47px,
    $padding-bOctava: 19px
  );

  &__list {
    @extend %list;

    @include respondTo('quinta') {
      @include flexList(51px);
      justify-content: space-between;
    }

    @include respondTo('octava') {
      column-gap: 71px;
    }
  }

  &__item {
    @include listLayout(
      $margin-t: 18px,
      $marginQuinta: 51px,
      $marginEdgeQuinta: 54px,
      $marginOctava: 71px,
      $marginEdgeOctava: 76px,
      $numberOfElement: 3
    );
  }

  &__wrap {
    position: relative;
    @extend %marginCenter;
    margin-bottom: 9px;
    width: 64px;
    height: 64px;
    fill: colors('secondary');
    background-color: colors('brand');
    border-radius: 50%;

    @include respondTo('quinta') {
      margin-bottom: 15px;
      width: 67px;
      height: 67px;
    }
  }

  &__icon {
    @include position_center;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 15px;

    @include respondTo('quinta') {
      margin-bottom: 16px;
    }
  }

  &__text {
    text-align: center;
  }
}
