.services {
  padding-top: 30px;
  padding-bottom: 31px;

  @include respondTo('quinta') {
    padding-top: 40px;
    padding-bottom: 47px;
  }

  @include respondTo('octava') {
    padding-bottom: 19px;
  }

  &__list {
    @extend %list;

    @include respondTo('quinta') {
      @include flexList(51px);
      text-align: center;
    }

    @include respondTo('octava') {
      column-gap: 71px;
    }
  }

  &__item {

    @include respondTo('quarta extensum') {
      & + & {
        margin-top: 18px;
      }
    }
  
    @include respondTo('quinta') {
      width: calc((100% - 102px) / 3);
    }

    @include respondTo('octava') {
      width: calc((100% - 142px) / 3);
    }
  }

  &__wrap {
    position: relative;
    @extend %marginCenter;
    margin-bottom: 9px;
    width: 64px;
    height: 64px;
    fill: var(--background-color-primary);
    background-color: var(--color-brand);
    border-radius: 50%;

    @include respondTo('quinta') {
      margin-bottom: 15px;
      width: 67px;
      height: 67px;
    }
  }

  &__icon {
    @include position_center;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 15px;

    @include respondTo('quinta') {
      margin-bottom: 16px;
    } 
  }

  &__text {
    text-align: center;
  }
}