.services {
  padding-top: 40px;
  padding-bottom: 19px;

  &__list {
    @include list;
    display: flex;
    column-gap: 71px;
    text-align: center;
  }

  &__item {
    width: calc((100% - 142px) / 3);
  }

  &__wrap {
    position: relative;
    @include marginCenter;
    margin-bottom: 15px;
    width: 67px;
    height: 67px;
    fill: var(--background-color-primary);
    background-color: var(--color-brand);
    border-radius: 50%;
  }

  &__icon {
    @include position_center;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 400;

    font-size: 20px;
    line-height: 1.65;
  }

  &__text {
    width: 362px;
    @include marginCenter;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
  }
}