.solutions__container {
    padding: 0;

    @include respondTo('quinta') {
        display: flex;
    }
}

.solutions__box {
    padding: 30px;
    background-color: var(--color-brand);
    color: var(--text-color-secondary);

    @include respondTo('quinta') {
        padding: 30px 39px 30px 30px;
        width: 50%;
    }
    
    @include respondTo('octava') {
        padding: 84px 44px 84px 30px;
    }
}

.solutions__tagline {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 5px;

    @include respondTo('quinta') {
        font-size: 20px;
        line-height: 1.64;
    } 
}

.solutions__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 25px;

    @include respondTo('quinta') {
        margin-bottom: 26px;
    }
}

.solutions__text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 14px;

    @include respondTo('quinta') {
        font-size: 18px;
        line-height: 1.56;
        margin-bottom: 20px;
    }
    
    @include respondTo('octava') {
        margin-bottom: 17px;
    }
}

.solutions__link {
    @include buttonPrimary ($width: 158px, $padding-top: 10px, $padding-bottom: 11px, $f-sz: 16px, $lh: 1.6, $color-secondary: var(--text-color-secondary), $bgc: var(--color-brand));
    outline: 1px solid var(--background-color-primary);

    &:hover, &:focus {
        color: var(--color-brand);
        background-color: var(--background-color-primary);
        border-color: var(--color-brand);
    }

    @include respondTo('quinta') {
        width: 167px;
        font-size: 18px;
        line-height: 1.56;
        padding-top: 11px;
        padding-bottom: 12px;
    }
}