.solutions__box {
  @include styleColouredSection(
    $padding-t: 30px,
    $padding-r: 30px,
    $padding-b: 30px,
    $padding-l: 30px,
    $bgc: colors('brand'),
    $color: colors('secondary'),
    $padding-tQuinta: 30px, 
    $padding-rQuinta: 39px,
    $padding-bQuinta: 30px,
    $padding-lQuinta: 30px,
    $padding-tOctava: 84px,
    $padding-rOctava: 44px,
    $padding-bOctava: 84px,
    $padding-lOctava: 30px
  );
}

.solutions__button {
  @include buttonPrimary(
    $width: 158px,
    $padding-top: 10px,
    $padding-bottom: 11px,
    $f-sz: 16px,
    $lh: 1.6,
    $color-secondary: colors('secondary'),
    $bgc: colors('brand'),
    $bgc-hoFus: colors('background'),
    $color-hoFus: colors('brand'),
    $outline-hoFus: colors('brand')
  );
  outline: 1px solid colors('secondary');

  @include respondTo('quinta') {
    width: 167px;
    font-size: 18px;
    line-height: 1.56;
    padding-top: 11px;
    padding-bottom: 12px;
  }
}
