.team {
  @include paddingSection(
    $padding-t: 50px,
    $padding-b: 50px,
    $padding-tQuinta: 48px,
    $padding-bQuinta: 59px,
    $padding-bOctava: 49px
  );
}

.team__container {
  @include respondTo('quarta extensum') {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.team__tagline {
  margin-bottom: 15px;

  @include respondTo('quinta') {
    margin-bottom: 16px;
  }
}

.team__text {
  @include respondTo('quinta') {
    font-size: 17px;
    line-height: 1.656;
    margin-bottom: 49px;
  }

  @include respondTo('octava') {
    margin-bottom: 45px;
  }
}

.team-list {
  @extend %list;

  @include respondTo('quinta') {
    @include flexList(22px);
  }
}

.team-list__item {
  @include listLayout(
    $margin-t: 10px,
    $marginQuinta: 18px,
    $marginEdgeQuinta: 4px, 
    $marginOctava: 21px,
    $marginEdgeOctava: 4px,
    $numberOfElement: 3
  );
}

.team-list__box {
  margin-top: 14px;

  @include respondTo('quinta') {
    margin-top: 13px;
  }
}

.team-list__name {
  font-weight: 400;
  margin-bottom: 11px;
  font-size: 23px;
  line-height: 1.252;

  @include respondTo('quinta') {
    margin-bottom: 12px;

    font-size: 25px;
    line-height: 1.267;
  }
}

.team-list__thumb {
  position: relative;
}

.team__img {
  .team-list__item:hover & {
    filter: blur(1px) grayscale(80%) brightness(90%);
  }
}

.team-list__network-list {
  @include position_center;

  opacity: 0;
  @include transition(opacity);

  .team-list__item:hover & {
    opacity: 1;
    cursor: pointer;
  }
}
