.team {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  @include respondTo('quinta') {
    padding-top: 48px;
    padding-bottom: 59px;
  }

  @include respondTo('octava') {
    padding-top: 49px;
  }
}

.team__container {
  @include respondTo('quarta extensum') {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.team__tagline {
  font-size: 18px;
  line-height: 1.664;
  margin-bottom: 15px;

  @include respondTo('quinta') {
    font-size: 20px;
    line-height: 1.647;
    margin-bottom: 16px;
  }
}

.team__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.263;
  text-transform: capitalize;
  margin-bottom: 35px;

  @include respondTo('octava') {
    margin-bottom: 34px;
  }
}

.team__description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 37px;

  @include respondTo('quinta') {
    font-size: 17px;
    line-height: 1.656;
    margin-bottom: 49px;
  }

  @include respondTo('octava') {
    font-size: 18px;
    line-height: 1.564;
    margin-bottom: 45px;
  }
}

.team-list {
  @include list;

  @include respondTo('quinta') {
    display: flex;
    column-gap: 22px;
  }
}

.team-list__item {

  @include respondTo('quarta extensum') {
    & + & {
      margin-top: 10px;
    }
  }

  @include respondTo('quinta') {
    width: calc((100% - 39px) / 3);
  }

  @include respondTo('octava') {
    width: calc((100% - 31px) / 3);
  }
}

.team-list__box {
  margin-top: 14px;

  @include respondTo('quinta') {
    margin-top: 13px;
  }
}

.team-list__name {
  font-weight: 400;
  margin-bottom: 11px;
  font-size: 23px;
  line-height: 1.252;

  @include respondTo('quinta') {
    margin-bottom: 12px;

    font-size: 25px;
    line-height: 1.267;
  }
}

.team-list__position {
  font-size: 16px;
  line-height: 1.6;

  @include respondTo('quinta') {
    font-size: 18px;
    line-height: 1.564;
  }
}

/* Network styles */

.team-list__thumb {
  position: relative;
}

.team-list__network-list {
@include position_center;

  opacity: 0;
  @include transition(opacity);

  .team-list__item:hover & {
      opacity: 1;
      cursor: pointer;
    }
}

.network-list {
  @include list;
  
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.network-list__link {
  display: block;
  width: 100%;
  height: 100%;
}

.network-list__icon {
  fill: var(--text-color-secondary);
  @include transition(fill);

  .network-list__link:hover & {
      fill: var(--color-brand);
    }
}

.my-slick-prev,
.my-slick-next {
  @include respondTo('quinta') {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 50px;
    height: 40px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 900;
    font-size: 36px;
    line-height: 1;
    border: none;
    color: green;
    background-color: transparent;
  }
}

.my-slick-prev {
  @include respondTo('quinta') {
    left: -100px;
  }
}

.my-slick-next {
  @include respondTo('quinta') {
    right: -100px;
  }
}

