.team {
  padding-top: 49px;
  padding-bottom: 59px;
  text-align: center;
}

.team__subtitle {
  margin-bottom: 16px;

  font-size: 20px;
  line-height: 1.65;
}

.team__title {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-transform: capitalize;
}

.team__description {
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 1.56;
}

.team-list {
  display: flex;
  column-gap: 22px;
}

.team-list__item {
  width: calc((100% - 44px) / 3);
}

.team-list__item:hover .team-list__network-list {
  opacity: 1;
  cursor: pointer;
}

.team-list__box {
  margin-top: 13px;
}

.team-list__name {
  margin-bottom: 12px;

  font-size: 25px;
  line-height: 1.28;
  font-weight: 400;
}

.team-list__position {
  font-size: 18px;
  line-height: 1.56;
}

/* Network styles */

.team-list__thumb {
  position: relative;
}

.team-list__network-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;

  transition: opacity 250ms linear;
}

.network-list {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.network-list__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.network-list__icon {
  fill: var(--text-color-secondary);
  transition: fill 250ms ease-in-out;
}

.network-list__link:hover .network-list__icon {
  fill: var(--color-brand);
}