.wrapper {
    position: relative;
    @include centeredFlex();
    @include backgroundImageRetina($file: 'hero-bg-mobile');
    @extend %marginCenter;
    max-width: 320px;

    @include respondTo('quinta') {
        max-width: 768px;
        @include backgroundImageRetina($file: 'hero-bg-tablet');
    }

    @include respondTo('octava') {
        max-width: 1360px;
        @include backgroundImageRetina($file: 'hero-bg-desktop');
    }
}