@mixin position_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin centeredFlex ($justify-content: center){
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

@mixin transition ($props...) {
  transition-property: $props;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

@mixin buttonPrimary ($width, $padding-top, $padding-bottom, $color-border, $color-secondary, $bgc) {
  width: $width;
  padding: $padding-top $padding-bottom;
  font-size: 18px;
  line-height: 1.56;
  cursor: pointer;
  border: 1px solid $color-border;
  border-radius: 5px;
  color: $color-secondary;
  background-color: $bgc;
  @include transition(background-color, color, border-color);
}

@mixin pseudo ($width) {
  content: '';
  position: absolute;
  display: block;
  width: $width;
}

$imgdir: '../images/';
@mixin backgroundImageRetina($gradient: linear-gradient(
  0deg,
  var(--background-gradient-wrapper),
  var(--background-gradient-wrapper)
), $file, $type, $bg-size: cover, $bg-position: center) {
  background-image: $gradient, url(#{$imgdir}#{$file} + '.' + #{$type});
  background-size: $bg-size;
  background-position: $bg-position;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: $gradient, url(#{$imgdir}#{$file} + '2x.' + #{$type});
    }
  }

  @media (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
    & {
      background-image: $gradient, url(#{$imgdir}#{$file} + '3x.' + #{$type});
    }
  }
}