<section class="blog" id="blog">
  <div class="container revers">
    <img class="blog__img" src="./images/workspace.jpg" alt="workspace" width="680" />
    <div class="blog__desc">
      <p class="blog__subtitle">April 16 2020</p>
      <h2 class="blog__title">Blog post one</h2>
      <p class="blog__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos
        quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores
        itaque rerum temporibus doloribus iste maiores deleniti?
      </p>
      <a class="blog__button link" href="" target="_blank">Read our blog</a>
    </div>
  </div>
</section>