<section class="business-cases" id="cases">
  <div class="container">
    <p class="business-cases__tagline">This is what we do</p>
    <h2 class="business-cases__title">Business cases</h2>
    <p class="business-cases__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="business-cases__list">
      <li class="business-cases__item">
        <picture>
          <source
            srcset="
              ./images/business-cases/cases-01.webp    320w,
              ./images/business-cases/cases-01-2x.webp 640w,
              ./images/business-cases/cases-01-3x.webp 960w
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/business-cases/cases-01.jpg    320w,
              ./images/business-cases/cases-01-2x.jpg 640w,
              ./images/business-cases/cases-01-3x.jpg 960w
            "
            src="./images/business-cases/cases-01.jpg"
            alt="group of people"
          />
        </picture>
      </li>
      <li class="business-cases__item">
        <picture>
          <source
            srcset="
              ./images/business-cases/cases-02.webp    320w,
              ./images/business-cases/cases-02-2x.webp 640w,
              ./images/business-cases/cases-02-3x.webp 960w
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/business-cases/cases-02.jpg    320w,
              ./images/business-cases/cases-02-2x.jpg 640w,
              ./images/business-cases/cases-02-3x.jpg 960w
            "
            src="./images/business-cases/cases-02.jpg"
            alt="notebook"
          />
        </picture>
      </li>
      <li class="business-cases__item">
        <picture>
          <source
            srcset="
              ./images/business-cases/cases-03.webp    320w,
              ./images/business-cases/cases-03-2x.webp 640w,
              ./images/business-cases/cases-03-3x.webp 960w
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/business-cases/cases-03.jpg    320w,
              ./images/business-cases/cases-03-2x.jpg 640w,
              ./images/business-cases/cases-03-3x.jpg 960w
            "
            src="./images/business-cases/cases-03.jpg"
            alt="handshake"
          />
        </picture>
      </li>
      <li class="business-cases__item">
        <picture>
          <source
            srcset="
              ./images/business-cases/cases-04.webp    320w,
              ./images/business-cases/cases-04-2x.webp 640w,
              ./images/business-cases/cases-04-3x.webp 960w
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/business-cases/cases-04.jpg    320w,
              ./images/business-cases/cases-04-2x.jpg 640w,
              ./images/business-cases/cases-04-3x.jpg 960w
            "
            src="./images/business-cases/cases-04.jpg"
            alt="allhands"
          />
        </picture>
      </li>
      <li class="business-cases__item">
        <picture>
          <source
            srcset="
              ./images/business-cases/cases-05.webp    320w,
              ./images/business-cases/cases-05-2x.webp 640w,
              ./images/business-cases/cases-05-3x.webp 960w
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/business-cases/cases-05.jpg    320w,
              ./images/business-cases/cases-05-2x.jpg 640w,
              ./images/business-cases/cases-05-3x.jpg 960w
            "
            src="./images/business-cases/cases-05.jpg"
            alt="laptop"
          />
        </picture>
      </li>
      <li class="business-cases__item">
        <picture>
          <source
            srcset="
              ./images/business-cases/cases-06.webp    320w,
              ./images/business-cases/cases-06-2x.webp 640w,
              ./images/business-cases/cases-06-3x.webp 960w
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/business-cases/cases-06.jpg    320w,
              ./images/business-cases/cases-06-2x.jpg 640w,
              ./images/business-cases/cases-06-3x.jpg 960w
            "
            src="./images/business-cases/cases-06.jpg"
            alt="buildings"
          />
        </picture>
      </li>
      <li class="business-cases__item">
        <picture>
          <source
            srcset="
              ./images/business-cases/cases-07.webp    320w,
              ./images/business-cases/cases-07-2x.webp 640w,
              ./images/business-cases/cases-07-3x.webp 960w
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/business-cases/cases-07.jpg    320w,
              ./images/business-cases/cases-07-2x.jpg 640w,
              ./images/business-cases/cases-07-3x.jpg 960w
            "
            src="./images/business-cases/cases-07.jpg"
            alt="group of people 2"
          />
        </picture>
      </li>
      <li class="business-cases__item">
        <picture>
          <source
            srcset="
              ./images/business-cases/cases-08.webp    320w,
              ./images/business-cases/cases-08-2x.webp 640w,
              ./images/business-cases/cases-08-3x.webp 960w
            "
            type="image/webp"
          />
          <img
            srcset="
              ./images/business-cases/cases-08.jpg    320w,
              ./images/business-cases/cases-08-2x.jpg 640w,
              ./images/business-cases/cases-08-3x.jpg 960w
            "
            src="./images/business-cases/cases-08.jpg"
            alt="buisnesswomen"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
