<section class="business-cases" id="cases">
  <div class="container">
    <p class="business-cases__tagline">This is what we do</p>
    <h2 class="business-cases__title">Business cases</h2>
    <p class="business-cases__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="business-cases__list gallery">
      <li class="business-cases__item">
        <a href="./images/business-cases/desktop/01-cases-desk-teamwork3x.jpg">
          <picture>
            <source
              srcset="
                ./images/business-cases/mobile/01-cases-mob-teamwork.webp   1x,
                ./images/business-cases/mobile/01-cases-mob-teamwork2x.webp 2x,
                ./images/business-cases/mobile/01-cases-mob-teamwork3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/01-cases-tab-teamwork.webp   1x,
                ./images/business-cases/tablet/01-cases-tab-teamwork2x.webp 2x,
                ./images/business-cases/tablet/01-cases-tab-teamwork3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/01-cases-desk-teamwork.webp   1x,
                ./images/business-cases/desktop/01-cases-desk-teamwork2x.webp 2x,
                ./images/business-cases/desktop/01-cases-desk-teamwork3x.webp 3x
              "
              type="image/webp"
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./images/business-cases/mobile/01-cases-mob-teamwork.jpg   1x,
                ./images/business-cases/mobile/01-cases-mob-teamwork2x.jpg 2x,
                ./images/business-cases/mobile/01-cases-mob-teamwork3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/01-cases-tab-teamwork.jpg   1x,
                ./images/business-cases/tablet/01-cases-tab-teamwork2x.jpg 2x,
                ./images/business-cases/tablet/01-cases-tab-teamwork3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/01-cases-desk-teamwork.jpg   1x,
                ./images/business-cases/desktop/01-cases-desk-teamwork2x.jpg 2x,
                ./images/business-cases/desktop/01-cases-desk-teamwork3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <img
              loading="lazy"
              src="./images/business-cases/desktop/01-cases-desk-teamwork.jpg"
              alt="Teamwork at the table"
              sizes="(min-width: 768px) 25vw, 100vw"
            />
          </picture>
        </a>
      </li>
      <li class="business-cases__item">
        <a
          href="./images/business-cases/desktop/02-cases-desk-man-writes3x.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/business-cases/mobile/02-cases-mob-man-writes.webp   1x,
                ./images/business-cases/mobile/02-cases-mob-man-writes2x.webp 2x,
                ./images/business-cases/mobile/02-cases-mob-man-writes3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/02-cases-tab-man-writes.webp   1x,
                ./images/business-cases/tablet/02-cases-tab-man-writes2x.webp 2x,
                ./images/business-cases/tablet/02-cases-tab-man-writes3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/02-cases-desk-man-writes.webp   1x,
                ./images/business-cases/desktop/02-cases-desk-man-writes2x.webp 2x,
                ./images/business-cases/desktop/02-cases-desk-man-writes3x.webp 3x
              "
              type="image/webp"
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./images/business-cases/mobile/02-cases-mob-man-writes.jpg   1x,
                ./images/business-cases/mobile/02-cases-mob-man-writes2x.jpg 2x,
                ./images/business-cases/mobile/02-cases-mob-man-writes3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/02-cases-tab-man-writes.jpg   1x,
                ./images/business-cases/tablet/02-cases-tab-man-writes2x.jpg 2x,
                ./images/business-cases/tablet/02-cases-tab-man-writes3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/02-cases-desk-man-writes.jpg   1x,
                ./images/business-cases/desktop/02-cases-desk-man-writes2x.jpg 2x,
                ./images/business-cases/desktop/02-cases-desk-man-writes3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <img
              loading="lazy"
              src="./images/business-cases/desktop/02-cases-desk-man-writes.jpg"
              alt="A man writes in a notebook and checks histogram chart"
              sizes="(min-width: 768px) 25vw, 100vw"
            />
          </picture>
        </a>
      </li>
      <li class="business-cases__item">
        <a href="./images/business-cases/desktop/03-cases-desk-handshake3x.jpg">
          <picture>
            <source
              srcset="
                ./images/business-cases/mobile/03-cases-mob-handshake.webp   1x,
                ./images/business-cases/mobile/03-cases-mob-handshake2x.webp 2x,
                ./images/business-cases/mobile/03-cases-mob-handshake3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/03-cases-tab-handshake.webp   1x,
                ./images/business-cases/tablet/03-cases-tab-handshake2x.webp 2x,
                ./images/business-cases/tablet/03-cases-tab-handshake3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/03-cases-desk-handshake.webp   1x,
                ./images/business-cases/desktop/03-cases-desk-handshake2x.webp 2x,
                ./images/business-cases/desktop/03-cases-desk-handshake3x.webp 3x
              "
              type="image/webp"
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./images/business-cases/mobile/03-cases-mob-handshake.jpg   1x,
                ./images/business-cases/mobile/03-cases-mob-handshake2x.jpg 2x,
                ./images/business-cases/mobile/03-cases-mob-handshake3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/03-cases-tab-handshake.jpg   1x,
                ./images/business-cases/tablet/03-cases-tab-handshake2x.jpg 2x,
                ./images/business-cases/tablet/03-cases-tab-handshake3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/03-cases-desk-handshake.jpg   1x,
                ./images/business-cases/desktop/03-cases-desk-handshake2x.jpg 2x,
                ./images/business-cases/desktop/03-cases-desk-handshake3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <img
              loading="lazy"
              src="./images/business-cases/desktop/03-cases-desk-handshake.jpg"
              alt="Handshake"
              sizes="(min-width: 768px) 25vw, 100vw"
            />
          </picture>
        </a>
      </li>
      <li class="business-cases__item">
        <a
          href="./images/business-cases/desktop/04-cases-desk-hands-on-top3x.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/business-cases/mobile/04-cases-mob-hands-on-top.webp   1x,
                ./images/business-cases/mobile/04-cases-mob-hands-on-top2x.webp 2x,
                ./images/business-cases/mobile/04-cases-mob-hands-on-top3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/04-cases-tab-hands-on-top.webp   1x,
                ./images/business-cases/tablet/04-cases-tab-hands-on-top2x.webp 2x,
                ./images/business-cases/tablet/04-cases-tab-hands-on-top3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/04-cases-desk-hands-on-top.webp   1x,
                ./images/business-cases/desktop/04-cases-desk-hands-on-top2x.webp 2x,
                ./images/business-cases/desktop/04-cases-desk-hands-on-top3x.webp 3x
              "
              type="image/webp"
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./images/business-cases/mobile/04-cases-mob-hands-on-top.jpg   1x,
                ./images/business-cases/mobile/04-cases-mob-hands-on-top2x.jpg 2x,
                ./images/business-cases/mobile/04-cases-mob-hands-on-top3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/04-cases-tab-hands-on-top.jpg   1x,
                ./images/business-cases/tablet/04-cases-tab-hands-on-top2x.jpg 2x,
                ./images/business-cases/tablet/04-cases-tab-hands-on-top3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/04-cases-desk-hands-on-top.jpg   1x,
                ./images/business-cases/desktop/04-cases-desk-hands-on-top2x.jpg 2x,
                ./images/business-cases/desktop/04-cases-desk-hands-on-top3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <img
              loading="lazy"
              src="./images/business-cases/desktop/04-cases-desk-hands-on-top.jpg"
              alt="Hands on top of each other over the table"
              sizes="(min-width: 768px) 25vw, 100vw"
            />
          </picture>
        </a>
      </li>
      <li class="business-cases__item">
        <a href="./images/business-cases/desktop/05-cases-desk-laptop3x.jpg">
          <picture>
            <source
              srcset="
                ./images/business-cases/mobile/05-cases-mob-laptop.webp   1x,
                ./images/business-cases/mobile/05-cases-mob-laptop2x.webp 2x,
                ./images/business-cases/mobile/05-cases-mob-laptop3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/05-cases-tab-laptop.webp   1x,
                ./images/business-cases/tablet/05-cases-tab-laptop2x.webp 2x,
                ./images/business-cases/tablet/05-cases-tab-laptop3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/05-cases-desk-laptop.webp   1x,
                ./images/business-cases/desktop/05-cases-desk-laptop2x.webp 2x,
                ./images/business-cases/desktop/05-cases-desk-laptop3x.webp 3x
              "
              type="image/webp"
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./images/business-cases/mobile/05-cases-mob-laptop.jpg   1x,
                ./images/business-cases/mobile/05-cases-mob-laptop2x.jpg 2x,
                ./images/business-cases/mobile/05-cases-mob-laptop3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/05-cases-tab-laptop.jpg   1x,
                ./images/business-cases/tablet/05-cases-tab-laptop2x.jpg 2x,
                ./images/business-cases/tablet/05-cases-tab-laptop3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/05-cases-desk-laptop.jpg   1x,
                ./images/business-cases/desktop/05-cases-desk-laptop2x.jpg 2x,
                ./images/business-cases/desktop/05-cases-desk-laptop3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <img
              loading="lazy"
              src="./images/business-cases/desktop/05-cases-desk-laptop.jpg"
              alt="A laptop and a notebook on the table"
              sizes="(min-width: 768px) 25vw, 100vw"
            />
          </picture>
        </a>
      </li>
      <li class="business-cases__item">
        <a href="./images/business-cases/desktop/06-cases-desk-bot-view3x.jpg">
          <picture>
            <source
              srcset="
                ./images/business-cases/mobile/06-cases-mob-bot-view.webp   1x,
                ./images/business-cases/mobile/06-cases-mob-bot-view2x.webp 2x,
                ./images/business-cases/mobile/06-cases-mob-bot-view3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/06-cases-tab-bot-view.webp   1x,
                ./images/business-cases/tablet/06-cases-tab-bot-view2x.webp 2x,
                ./images/business-cases/tablet/06-cases-tab-bot-view3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/06-cases-desk-bot-view.webp   1x,
                ./images/business-cases/desktop/06-cases-desk-bot-view2x.webp 2x,
                ./images/business-cases/desktop/06-cases-desk-bot-view3x.webp 3x
              "
              type="image/webp"
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./images/business-cases/mobile/06-cases-mob-bot-view.jpg   1x,
                ./images/business-cases/mobile/06-cases-mob-bot-view2x.jpg 2x,
                ./images/business-cases/mobile/06-cases-mob-bot-view3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/06-cases-tab-bot-view.jpg   1x,
                ./images/business-cases/tablet/06-cases-tab-bot-view2x.jpg 2x,
                ./images/business-cases/tablet/06-cases-tab-bot-view3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/06-cases-desk-bot-view.jpg   1x,
                ./images/business-cases/desktop/06-cases-desk-bot-view2x.jpg 2x,
                ./images/business-cases/desktop/06-cases-desk-bot-view3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <img
              loading="lazy"
              src="./images/business-cases/desktop/06-cases-desk-bot-view.jpg"
              alt="Bottom view of skyscrapers and the sky between them"
              sizes="(min-width: 768px) 25vw, 100vw"
            /> </picture
        ></a>
      </li>
      <li class="business-cases__item">
        <a href="./images/business-cases/desktop/07-cases-desk-smil-girl3x.jpg">
          <picture>
            <source
              srcset="
                ./images/business-cases/mobile/07-cases-mob-smil-girl.webp   1x,
                ./images/business-cases/mobile/07-cases-mob-smil-girl2x.webp 2x,
                ./images/business-cases/mobile/07-cases-mob-smil-girl3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/07-cases-tab-smil-girl.webp   1x,
                ./images/business-cases/tablet/07-cases-tab-smil-girl2x.webp 2x,
                ./images/business-cases/tablet/07-cases-tab-smil-girl3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/07-cases-desk-smil-girl.webp   1x,
                ./images/business-cases/desktop/07-cases-desk-smil-girl2x.webp 2x,
                ./images/business-cases/desktop/07-cases-desk-smil-girl3x.webp 3x
              "
              type="image/webp"
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./images/business-cases/mobile/07-cases-mob-smil-girl.jpg   1x,
                ./images/business-cases/mobile/07-cases-mob-smil-girl2x.jpg 2x,
                ./images/business-cases/mobile/07-cases-mob-smil-girl3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/07-cases-tab-smil-girl.jpg   1x,
                ./images/business-cases/tablet/07-cases-tab-smil-girl2x.jpg 2x,
                ./images/business-cases/tablet/07-cases-tab-smil-girl3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/07-cases-desk-smil-girl.jpg   1x,
                ./images/business-cases/desktop/07-cases-desk-smil-girl2x.jpg 2x,
                ./images/business-cases/desktop/07-cases-desk-smil-girl3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <img
              loading="lazy"
              src="./images/business-cases/desktop/07-cases-desk-smil-girl.jpg"
              alt="A smiling girl in glasses and teamwork in the background"
              sizes="(min-width: 768px) 25vw, 100vw"
            />
          </picture>
        </a>
      </li>
      <li class="business-cases__item">
        <a
          href="./images/business-cases/desktop/08-cases-desk-smil-people3x.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/business-cases/mobile/08-cases-mob-smil-people.webp   1x,
                ./images/business-cases/mobile/08-cases-mob-smil-people2x.webp 2x,
                ./images/business-cases/mobile/08-cases-mob-smil-people3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/08-cases-tab-smil-people.webp   1x,
                ./images/business-cases/tablet/08-cases-tab-smil-people2x.webp 2x,
                ./images/business-cases/tablet/08-cases-tab-smil-people3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/08-cases-desk-smil-people.webp   1x,
                ./images/business-cases/desktop/08-cases-desk-smil-people2x.webp 2x,
                ./images/business-cases/desktop/08-cases-desk-smil-people3x.webp 3x
              "
              type="image/webp"
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./images/business-cases/mobile/08-cases-mob-smil-people.jpg   1x,
                ./images/business-cases/mobile/08-cases-mob-smil-people2x.jpg 2x,
                ./images/business-cases/mobile/08-cases-mob-smil-people3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/business-cases/tablet/08-cases-tab-smil-people.jpg   1x,
                ./images/business-cases/tablet/08-cases-tab-smil-people2x.jpg 2x,
                ./images/business-cases/tablet/08-cases-tab-smil-people3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/business-cases/desktop/08-cases-desk-smil-people.jpg   1x,
                ./images/business-cases/desktop/08-cases-desk-smil-people2x.jpg 2x,
                ./images/business-cases/desktop/08-cases-desk-smil-people3x.jpg 3x
              "
              media="((min-width: 1360px))"
            />
            <img
              loading="lazy"
              src="./images/business-cases/desktop/08-cases-desk-smil-people.jpg"
              alt="Smiling people at computers"
              sizes="(min-width: 768px) 25vw, 100vw"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
