<section class="business-cases" id="cases">
  <div class="container">
    <p class="business-cases-descr">This is what we do</p>
    <h2 class="business-cases-title">Business cases</h2>
    <p class="business-cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="business-cases-list list">
      <li class="business-cases-item">
        <img
          src="./images/groupofpeople.jpg"
          alt="group of people"
          width="320"
        />
      </li>
      <li class="business-cases-item">
        <img src="./images/notebook.jpg" alt="notebook" width="320" />
      </li>
      <li class="business-cases-item">
        <img src="./images/handshake.jpg" alt="handshake" width="320" />
      </li>
      <li class="business-cases-item">
        <img src="./images/allhands.jpg" alt="allhands" width="320" />
      </li>
      <li class="business-cases-item">
        <img src="./images/laptop.jpg" alt="laptop" width="320" />
      </li>
      <li class="business-cases-item">
        <img src="./images/buildings.jpg" alt="buildings" width="320" />
      </li>
      <li class="business-cases-item">
        <img
          src="./images/groupofpeople2.jpg"
          alt="group of people 2"
          width="320"
        />
      </li>
      <li class="business-cases-item">
        <img src="./images/buisnesswoman.jpg" alt="buisnesswomen" width="320" />
      </li>
    </ul>
  </div>
</section>
