<section class="callback">
  <div class="container container--coloured">
    <picture>
      <source
        srcset="
          ./images/callback/desktop/callback-desk.webp   1x,
          ./images/callback/desktop/callback-desk2x.webp 2x,
          ./images/callback/desktop/callback-desk3x.webp 3x
        "
        type="image/webp"
        media="(min-width: 1360px)"
      />
      <source
        srcset="
          ./images/callback/mobile/callback-mob.webp   1x,
          ./images/callback/mobile/callback-mob2x.webp 2x,
          ./images/callback/mobile/callback-mob3x.webp 3x
        "
        type="image/webp"
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/callback/tablet/callback-tab.webp   1x,
          ./images/callback/tablet/callback-tab2x.webp 2x,
          ./images/callback/tablet/callback-tab3x.webp 3x
        "
        type="image/webp"
        media="(max-width: 1359px)"
      />
      <source
        srcset="
          ./images/callback/desktop/callback-desk.jpg   1x,
          ./images/callback/desktop/callback-desk2x.jpg 2x,
          ./images/callback/desktop/callback-desk3x.jpg 3x
        "
        media="(min-width: 1360px)"
      />
      <source
        srcset="
          ./images/callback/mobile/callback-mob.jpg   1x,
          ./images/callback/mobile/callback-mob2x.jpg 2x,
          ./images/callback/mobile/callback-mob3x.jpg 3x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/callback/tablet/callback-tab.jpg   1x,
          ./images/callback/tablet/callback-tab2x.jpg 2x,
          ./images/callback/tablet/callback-tab3x.jpg 3x
        "
        media="(max-width: 1359px)"
      />
      <img
        loading="lazy"
        src="./images/callback/desktop/callback-desk.jpg"
        alt="A man at the laptop with a mobile in hands"
      />
    </picture>
    <div class="callback__box">
      <h2 class="title callback__title">Request callback</h2>
      <form action="#">
        <ul class="callback__field">
          <li>
            <label for="name" class="visually-hidden"></label>
            <input
              type="text"
              name="name"
              id="name"
              class="callback__input"
              placeholder="Enter your name"
              pattern="^[a-zA-ZА-Яа-яґҐЁёІіЇїЄє'’ʼ\s-]{2,20}{2,50}$]"
              autocomplete="on"
              required
            />
          </li>
          <li>
            <label for="email" class="visually-hidden"></label>
            <input
              type="email"
              name="email"
              id="email"
              class="callback__input"
              placeholder="Enter email*"
              autocomplete="on"
              required
            />
          </li>
        </ul>
        <button type="submit" class="button callback__button">Send</button>
      </form>
    </div>
  </div>
</section>
