<footer>
  <section class="footer">
    <ul class="network-list list">
      <li class="network-list__item">
        <a class="link network-list__link" href="#">
          <svg class="network-list__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="network-list__item">
        <a class="link network-list__link" href="#">
          <svg class="network-list__icon" width="35" height="35">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="network-list__item">
        <a class="link network-list__link" href="#">
          <svg class="network-list__icon" width="40" height="35">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="network-list__item">
        <a class="link network-list__link" href="#">
          <svg class="network-list__icon" width="31" height="35">
            <use href="./images/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="text text--copy">Copyright &copy 2021 - FinanceLedger</p>
  </section>
</footer>
