<footer>
  <section class="footer">
    <ul class="social-list list">
      <li class="social-item">
        <a class="link network-link" href="#">
          <svg class="network-icon" width="35" height="35">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="link network-link" href="#">
          <svg class="network-icon" width="35" height="35">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="link network-link" href="#">
          <svg class="network-icon" width="40" height="35">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="link network-link" href="#">
          <svg class="network-icon" width="31" height="35">
            <use href="./images/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-text">Copyright &copy 2021 - Financeledger</p>
  </section>
</footer>
