<header class="header">
  <div class="container">
    <nav class="nav-pages">
      <a class="logotype link" href="./index.html">
        <span class="logo-piece">Finance</span> Ledger</a
      >
      <ul class="nav-pages-list list">
        <li class="nav-page-item">
          <a class="nav-page-link link" href="#">Home</a>
        </li>
        <li class="nav-page-item">
          <a class="nav-page-link link" href="#about">About</a>
        </li>
        <li class="nav-page-item">
          <a class="nav-page-link link" href="#cases">Cases</a>
        </li>
        <li class="nav-page-item">
          <a class="nav-page-link link" href="#blog">Blog</a>
        </li>
        <li class="nav-page-item">
          <a class="nav-page-link link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
