<section class="solutions">
  <img class="solutions__images" src="./images/rectangle.jpg" alt="dream team" width="680" />
  <p class="solutions__subtitle">What you are looking for</p>
  <h2 class="solutions__title">We provide bespoke solutions</h2>
  <p class="solutions__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
    ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
    illum dolore explicabo ab dolores itaque rerum temporibus doloribus
    iste maiores deleniti?
  </p>
  <a class="solutions__link" href="#" target="_blank">Read more</a>
</section>