<section class="solutions">
  <div class="container container--coloured">
    <picture>
      <source
        media="(min-width: 1360px)"
        srcset="
          ./images/solutions/desktop/solution-desk.webp    1x,
          ./images/solutions/desktop/solution-desk@2x.webp 2x,
          ./images/solutions/desktop/solution-desk@3x.webp 3x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/solutions/mobile/solution-mob.webp    1x,
          ./images/solutions/mobile/solution-mob@2x.webp 2x,
          ./images/solutions/mobile/solution-mob@3x.webp 3x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 1359px)"
        srcset="
          ./images/solutions/tablet/solution-tab.webp    1x,
          ./images/solutions/tablet/solution-tab@2x.webp 2x,
          ./images/solutions/tablet/solution-tab@3x.webp 3x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1360px)"
        srcset="
          ./images/solutions/desktop/solution-desk.jpg    1x,
          ./images/solutions/desktop/solution-desk@2x.jpg 2x,
          ./images/solutions/desktop/solution-desk@3x.jpg 3x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/solutions/mobile/solution-mob.jpg    1x,
          ./images/solutions/mobile/solution-mob@2x.jpg 2x,
          ./images/solutions/mobile/solution-mob@3x.jpg 3x
        "
      />
      <source
        media="(max-width: 1359px)"
        srcset="
          ./images/solutions/tablet/solution-tab.jpg    1x,
          ./images/solutions/tablet/solution-tab@2x.jpg 2x,
          ./images/solutions/tablet/solution-tab@3x.jpg 3x
        "
      />
      <img
        loading="lazy"
        src="./images/solutions/desktop/solution-desk.jpg"
        alt="dream team"
      />
    </picture>
    <div class="solutions__box">
      <p class="tagline">What you are looking for</p>
      <h2 class="title title--coloured">We provide bespoke solutions</h2>
      <p class="text text--coloured">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="button solutions__button" href="#" target="_blank">Read more</a>
    </div>
  </div>
</section>
