<section class="team">
  <div class="container">
    <p class="team-subtitle">Who we are</p>
    <h2 class="team-title">Our professional team</h2>
    <p class="team-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <div class="network-thumb">
          <img src="./images/johndoe.jpg" alt="John Doe" width="420" />
          <div class="network-wrapper">
            <ul class="network list">
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teammates">
          <h3 class="teammate-name">John Doe</h3>
          <p class="teammate-position">President</p>
        </div>
      </li>
      <li class="team-item">
        <div class="network-thumb">
          <img src="./images/janedoe.jpg" alt="Jane Doe" width="420" />
          <div class="network-wrapper">
            <ul class="network list">
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teammates">
          <h3 class="teammate-name">Jane Doe</h3>
          <p class="teammate-position">Vice president</p>
        </div>
      </li>
      <li class="team-item">
        <div class="network-thumb">
          <img src="./images/stevesmith.jpg" alt="Steve Smith" width="420" />
          <div class="network-wrapper">
            <ul class="network list">
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="network-item">
                <a class="network-link" href="#">
                  <svg class="network-icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teammates">
          <h3 class="teammate-name">Steve Smith</h3>
          <p class="teammate-position">Marketing head</p>
        </div>
      </li>
    </ul>
  </div>
</section>