<section class="team" id="contact">
  <div class="container team__container">
    <p class="tagline team__tagline">Who we are</p>
    <h2 class="title title--centered">Our professional team</h2>
    <p class="text text--white-section team__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list one-time">
      <li class="team-list__item">
        <div class="team-list__thumb">
          <picture>
            <source
              srcset="
                ./images/team/desktop/john-doe-desk.webp    1x,
                ./images/team/desktop/john-doe-desk@2x.webp 2x,
                ./images/team/desktop/john-doe-desk@3x.webp 3x
              "
              type="image/webp"
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./images/team/mobile/john-doe-mob.webp    1x,
                ./images/team/mobile/john-doe-mob@2x.webp 2x,
                ./images/team/mobile/john-doe-mob@3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/team/tablet/john-doe-tab.webp    1x,
                ./images/team/tablet/john-doe-tab@2x.webp 2x,
                ./images/team/tablet/john-doe-tab@3x.webp 3x
              "
              type="image/webp"
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/team/desktop/john-doe-desk.jpg    1x,
                ./images/team/desktop/john-doe-desk@2x.jpg 2x,
                ./images/team/desktop/john-doe-desk@3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./images/team/mobile/john-doe-mob.jpg    1x,
                ./images/team/mobile/john-doe-mob@2x.jpg 2x,
                ./images/team/mobile/john-doe-mob@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/team/tablet/john-doe-tab.jpg    1x,
                ./images/team/tablet/john-doe-tab@2x.jpg 2x,
                ./images/team/tablet/john-doe-tab@3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <img
              class="team__img"
              loading="lazy"
              src="./images/team/desktop/john-doe-desk.jpg"
              alt="John Doe"
            />
          </picture>
          <div class="team-list__network-list">
            <ul class="network-list">
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-list__box">
          <h3 class="team-list__name">John Doe</h3>
          <p class="text">President</p>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__thumb">
          <picture>
            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/team/desktop/jane-doe-desk.webp    1x,
                ./images/team/desktop/jane-doe-desk@2x.webp 2x,
                ./images/team/desktop/jane-doe-desk@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/mobile/jane-doe-mob.webp    1x,
                ./images/team/mobile/jane-doe-mob@2x.webp 2x,
                ./images/team/mobile/jane-doe-mob@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1359px)"
              srcset="
                ./images/team/tablet/jane-doe-tab.webp    1x,
                ./images/team/tablet/jane-doe-tab@2x.webp 2x,
                ./images/team/tablet/jane-doe-tab@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/team/desktop/jane-doe-desk.jpg    1x,
                ./images/team/desktop/jane-doe-desk@2x.jpg 2x,
                ./images/team/desktop/jane-doe-desk@3x.jpg 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/mobile/jane-doe-mob.jpg    1x,
                ./images/team/mobile/jane-doe-mob@2x.jpg 2x,
                ./images/team/mobile/jane-doe-mob@3x.jpg 3x
              "
            />
            <source
              media="(max-width: 1359px)"
              srcset="
                ./images/team/tablet/jane-doe-tab.jpg    1x,
                ./images/team/tablet/jane-doe-tab@2x.jpg 2x,
                ./images/team/tablet/jane-doe-tab@3x.jpg 3x
              "
            />
            <img
              class="team__img"
              loading="lazy"
              src="./images/team/desktop/jane-doe-desk.jpg"
              alt="Jane Doe"
            />
          </picture>
          <div class="team-list__network-list">
            <ul class="network-list">
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-list__box">
          <h3 class="team-list__name">Jane Doe</h3>
          <p class="text">Vice president</p>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__thumb">
          <picture>
            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/team/desktop/steve-smith-desk.webp    1x,
                ./images/team/desktop/steve-smith-desk@2x.webp 2x,
                ./images/team/desktop/steve-smith-desk@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/mobile/steve-smith-mob.webp    1x,
                ./images/team/mobile/steve-smith-mob@2x.webp 2x,
                ./images/team/mobile/steve-smith-mob@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1359px)"
              srcset="
                ./images/team/tablet/steve-smith-tab.webp    1x,
                ./images/team/tablet/steve-smith-tab@2x.webp 2x,
                ./images/team/tablet/steve-smith-tab@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/team/desktop/steve-smith-desk.jpg    1x,
                ./images/team/desktop/steve-smith-desk@2x.jpg 2x,
                ./images/team/desktop/steve-smith-desk@3x.jpg 3x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/team/mobile/steve-smith-mob.jpg    1x,
                ./images/team/mobile/steve-smith-mob@2x.jpg 2x,
                ./images/team/mobile/steve-smith-mob@3x.jpg 3x
              "
            />
            <source
              media="(max-width: 1359px)"
              srcset="
                ./images/team/tablet/steve-smith-tab.jpg    1x,
                ./images/team/tablet/steve-smith-tab@2x.jpg 2x,
                ./images/team/tablet/steve-smith-tab@3x.jpg 3x
              "
            />
            <img
              class="team__img"
              loading="lazy"
              src="./images/team/desktop/steve-smith-desk.jpg"
              alt="Steve Smith"
            />
          </picture>
          <div class="team-list__network-list">
            <ul class="network-list">
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="35" height="35">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="40" height="35">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a class="network-list__link" href="#">
                  <svg class="network-list__icon" width="31" height="35">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-list__box">
          <h3 class="team-list__name">Steve Smith</h3>
          <p class="text">Marketing head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
