.logo {
    @include centeredFlex($align-items: flex-end);
    @extend %link;
    font-size: 32px;
    line-height: 1.32;
    color: colors('secondary');
  
    @include respondTo('quinta') {
      font-size: 35px;
      line-height: 1.21;
    }
  
    &_brand {
      color: colors('brand');
  
      @include respondTo('quinta') {
        margin-right: 10px;
      }
    }
  }
  
  .logo__icon {
    fill: colors('brand');
    margin-right: 6px;
  
    @include respondTo('quinta') {
      margin-right: 10px;
    }
  }