.my-slick-prev,
.my-slick-next {
  @include respondTo('quinta') {
    position: absolute;
    top: 50%;
    @include centeredFlex;
    padding: 0;
    width: 50px;
    height: 40px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 900;
    font-size: 36px;
    line-height: 1;
    border: none;
    color: green;
    background-color: transparent;
  }
}

.my-slick-prev {
  @include respondTo('quinta') {
    left: -100px;
  }
}

.my-slick-next {
  @include respondTo('quinta') {
    right: -100px;
  }
}
