.header {
  position: fixed;
  min-height: 70px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  align-items: center;
}

// .active {
//   background-color: var(--background-color-header);
// }

.header.header-scroll {
  background-color: var(--background-color-header);
}

.header__nav {
  @include respondTo('quinta') {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  @include respondTo('octava') {
    justify-content: space-between;
  }
}